
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;

}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#audio {
    flex: 0 0 30%;
}

#audio audio {
    width: 100%;
}

#content {
    flex: 0 0 65%;
}

.text {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.text p {
    margin-bottom: 0;
}
